#html-autopsy {
    position: relative;
    height: 100%;
    width: 100%;
}

#fixed {
    min-width: 62em;
    min-height: 350px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

button, div, h3, label, p {
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

button {
    cursor: pointer;
}

#body-help {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.container {
    max-width: 992px;
}

h2 {
    margin-top: 3rem;
}

.h3-margin {
    margin-top: 2rem;
}

ol, ul {
    margin-top: 1rem;
}

ol > ul {
    margin-top: 0rem;
}

.bold {
    font-weight: 600;
}

p {
    margin-bottom: 0;
}

.navbar {
    flex: none;
    padding: 0.5rem 2rem;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-brand::before {
    background-image: url("scalpel.svg");
    background-size: 2rem 2rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    content: "";
    vertical-align: middle;
    margin-right: 1rem;
    margin-left: -1rem;
}

.nav-item {
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
}

.nav-item:hover {
    color: #ffffff;
}

.nav-item:focus {
    color: #ffffff;
}

.form-control::placeholder {
    color: #999;
}

#uuid {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.dropdown-menu {
    top: 48px;
    border: 1px solid #ccc;
}

.uuid-none {
    color: #818a91;
    padding: 15px;
    border-top: 1px solid #e5e5e5;
}

.popover {
    max-width: 100%;
}

.cores-none {
    color: #818a91;
}

.uuid-box {
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
    display: flex;
}

.uuid-inner {
    flex-grow: 1;
    margin: 15px;
}

.uuid-item {
    margin-left: 0.5rem;
}

.delete-uuid {
    margin-right: 15px;
}

#link-password, #file-password {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.modal-body .form-group:first-of-type {
    margin-top: 0.5rem;
}

.modal-body .form-group:last-child {
    margin-bottom: 0;
}

.main {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

#cores {
    display: inline-block;
    flex-grow: 1;
    width: 400px;
    flex: none;
    border-right: 1px solid #aaa;
    overflow: auto;
}

.coredump {
    box-sizing: border-box;
    max-height: 0;
    transform: translateY(-76px);
    animation: slideIn 0.25s ease forwards;
}

@keyframes slideIn {
    to {
        max-height: 76px;
        transform: translateY(0);
    }
}

.coredump-leave {
    box-sizing: border-box;
    position: relative;
    z-index: -1;
    max-height: 76px;
    transform: translateY(0);
    animation: slideOut 0.25s ease forwards;
}

@keyframes slideOut {
    to {
        max-height: 0px;
        transform: translateY(-76px);
    }
}

.coredump-box {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    display: flex;
    cursor: pointer;
}

.coredump-inner {
    flex-grow: 1;
    font-size: 0;
    overflow: hidden;
}

.corename {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1rem;
}

.coresize {
    font-size: 10pt;
    color: #818a91;
    display: inline-block;
}

.coresize::after {
    content: "·";
    font-size: 10pt;
    color: #818a91;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.coredate {
    font-size: 10pt;
    color: #818a91;
    display: inline-block;
}

.delete-box {
    flex: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
}

.not-clicked {
    background-color: #fff;
}

.not-clicked .delete-icon {
    color: rgba(0, 0, 0, 0);
}

.not-clicked:hover {
    background-color: #e1f5fe;
}

.not-clicked:hover .delete-icon:not(:hover) {
    color: #818a91;
}

.delete-icon:hover {
    color: #d9534f;
}

.clicked {
    background-color: #bee9fc;
}

.clicked .delete-icon:not(:hover) {
    color: rgba(0, 0, 0, 0);
}

.clicked:hover .delete-icon:not(:hover) {
    color: #818a91;
}

#analyzer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2rem;
    min-width: 0;
}

.upload {
    flex: none;
    display: flex;
    position: relative;
}

.form {
    flex-grow: 1;
    min-width: 0;
}

.file {
    display: block;
    margin-bottom: 0;
}

input {
    display: none;
    font: inherit;
    line-height: 1.25;
}

#file-picker {
    display: flex;
    height: 2.5rem;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    cursor: pointer;
}

#file-container {
    padding: 0.5rem 1rem;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

#file-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#progress {
    position: absolute;
    height: 2.5rem;
    width: 0%;
    background-color: #b3e5fc;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 2rem 2rem;
    animation: stripes 1s linear infinite;
    z-index: -1;
    margin: -0.5rem -1rem;
}

@keyframes stripes {
    from {
        background-position: 2rem 0;
    }
    to {
        background-position: 0 0;
    }
}

#downloaded {
    position: absolute;
    top: 3rem;
    left: 1rem;
    margin-left: 1px;
    font-size: 10pt;
    color: #818a91;
}

#browse {
    flex: none;
    width: 90px;
    text-align: center;
    padding: 0.5rem 1rem;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 0 0.25rem 0.25rem 0;
    margin: -1px -1px -1px auto;
    cursor: pointer;
}

.browse-clickable:hover {
    background-color: #ddd !important;
    border: 1px solid #ccc !important;
}

.browse-clickable:active {
    background-color: #ccc !important;
    border: 1px solid #bbb !important;
}

#upload-button {
    flex: none;
    width: 150px;
    margin-left: 1rem;
}

.nav-tabs {
    flex: none;
    margin-top: 2rem;
}

.tab-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-top: 1rem;
}

.tab-content > .active {
    display: flex;
    flex-direction: column;
}

.tab-pane {
    flex-grow: 1;
}

#prompt-commands, #python-buttons {
    flex: none;
}

.btn-command {
    font-size: 10pt;
}

#command-form {
    flex: none;
    margin-top: 1rem;
    position: relative;
}

#command-input {
    padding: 0.5rem 1rem;
}

#autocomplete {
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 10rem;
    overflow: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.375rem 0; 
    display: none;
    z-index: 1;
}

.autocomplete-item {
    padding: 0 1rem;
    cursor: pointer;
}

.autocomplete-item-selected {
    background-color: #f5f5f5;
}

.autocomplete-item:hover {
    background-color: #f5f5f5;
}

.autocomplete-none {
    padding: 0 1rem;
}

.autocomplete-option {
    color: #818a91;
}

.output {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    flex-grow: 1;
    margin-top: 1rem;
}

#python-container {
    display: flex;
    flex-grow: 1;
    margin-top: 1rem;
}

#command-list {
    border: 1px solid #ccc;
    border-radius: 0.25rem 0 0 0.25rem;
    flex: none;
    width: 250px;
    overflow: auto;
}

.python-command {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.5rem 1rem;
}

.python-command:last-child {
    border-bottom: initial;
}

.edited::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #0275d8;
    margin-right: 0.25rem;
    vertical-align: middle;
}

#python-program {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0 0.25rem 0.25rem 0;
    flex-grow: 1;
    margin: 0;
    padding: 1rem;
    overflow: auto;
}

@keyframes dots-1 {
    from {
        opacity: 0;
    }
    33.3% {
        opacity: 1;
    }
}

@keyframes dots-2 {
    from {
        opacity: 0;
    }
    66.6% {
        opacity: 1;
    }
}

#dots span {
    animation: dots-1 1.5s infinite steps(1);
}

#dots span:last-child {
    animation-name: dots-2;
}

.mono-text {
    background: initial;
    font-family: "Menlo", monospace;
    font-size: 10pt;
    outline: none;
}

textarea {
    font-family: "Menlo", monospace !important;
    font-size: 10pt !important;
    line-height: 1.5 !important;
    opacity: 1 !important;
}

code {
    font-family: "Menlo", monospace !important;
    font-size: 10pt !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
}

#output-text {
    display: inline-block;
    margin: 1rem;
    padding: 0;
    white-space: pre;
}

.html-text {
    flex-grow: 1;
}

.p-second {
    margin-top: 1rem;
}

iframe {
    border: none;
}

.figure-center {
    text-align: center;
}

figure {
    margin-top: 1rem;
    text-align: left;
}

.width-400 {
    width: 400px;
    margin-bottom: 0.5rem;
}

.width-700 {
    width: 700px;
    margin-bottom: 3rem;
}

.coredump-box-border {
    border: 1px solid #ccc;
}

.width-dropdown {
    margin-bottom: 0.5rem;
}

.figure .dropdown-menu {
    display: block;
    position: static;
    float: none;
}
