<!DOCTYPE html>
<html lang="en" id="html-autopsy">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Autopsy</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/codemirror.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/addon/dialog/dialog.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/addon/search/matchesonscrollbar.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/addon/scroll/simplescrollbars.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='autopsy.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='scalpel.png') }}">
        <script type = "text/javascript">
            function copy_key() {
                var textarea = document.createElement("textarea");
                textarea.style.width = '0px';
                textarea.style.height = '0px';
                document.querySelector("body").appendChild(textarea);
                var uuidval = document.getElementById("uuid");
                var uuidtextbox = document.getElementById("uuidtextbox");
                textarea.value = uuidval.innerHTML;
                textarea.select();
                document.execCommand('copy');
                /*navigator.permissions.query({name: "clipboard-write"}).then(result => {
                    if (result.state == "granted" || result.state == "prompt") {
                        document.execCommand('copy');
                    }
                });*/
                document.querySelector("body").removeChild(textarea);
            }
        </script>
    </head>
    <body id="fixed">
        <nav class="navbar navbar-dark navbar-expand bg-dark">
            <p class="navbar-brand"><img src="/static/scalpel.svg" width="32" height="32" alt="">Autopsy</p>
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="help" target="_blank">Help</a>
                <a class="nav-item nav-link" href="demo" target="_blank">Demo</a>
                <a class="nav-item nav-link" href="command_history" target="_blank">Command History</a>
            </div>
            <div class="navbar-nav">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="change-key" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="uuid">{{ uuid }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="change-key">
                        <a class="dropdown-item" href="javascript:copy_key();">Copy current key...</a> 
                        <a class="dropdown-item" href="" data-toggle="modal" data-target="#previous-modal">View previous key(s)…</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="" data-toggle="modal" data-target="#load-modal">Load an existing key…</a>
                        <a class="dropdown-item" href="" data-toggle="modal" data-target="#generate-modal">Generate new key…</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/export" id="export-data">Export data…</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="message alert-primary">
            Found an issue? Email <a class="alert-link" href="mailto:autopsy@cisco.com">autopsy@cisco.com</a>.
        </div>
        <div class="modal fade" id="previous-modal" tabindex="-1" role="dialog" aria-labelledby="previous-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="previous-modal-label">View previous key(s)</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Up to 15 of your most-recently(uppermost) used keys are shown below. Note that the core dumps listed with a key may have changed since you last accessed the key.</p>
                    </div>
                    <div id="uuids">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="previous-button" disabled>Load</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="load-modal" tabindex="-1" role="dialog" aria-labelledby="load-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="load-modal-label">Load an existing key</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="load-key">A key must be in valid version 4 <a href="https://en.wikipedia.org/wiki/Universally_unique_identifier" target="_blank">UUID</a> format, including hyphens.</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="key-icon"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="load-key" placeholder="01234567-89ab-cdef-0123-456789abcdef" spellcheck="false" aria-describedby="key-icon">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="load-button" disabled>Load</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="generate-modal" tabindex="-1" role="dialog" aria-labelledby="generate-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="generate-modal-label">Generate new key</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>If you wish to revisit these core files, you can load a previous key.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="generate-button">Generate</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="link-modal" tabindex="-1" role="dialog" aria-labelledby="link-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="link-modal-label">Submit link</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Enter the URL of the core dump to be submitted. You can also choose to supply your CEC username and password if the URL requires authentication.</p>
                        <div class="form-group row">
                            <label for="link-url" class="col-2 col-form-label">URL</label>
                            <div class="col-10">
                                <input type="url" class="form-control" id="link-url" placeholder="https://cisco.com/path/to/coredump.gz" spellcheck="false">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="link-username" class="col-2 col-form-label">Username</label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="link-username" spellcheck="false">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="link-password" class="col-2 col-form-label">Password</label>
                            <div class="col-10">
                                <input type="password" class="form-control" id="link-password">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="link-button" disabled>Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="file-modal" tabindex="-1" role="dialog" aria-labelledby="file-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="file-modal-label">SCP file</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Enter the server and the path to where the core dump is located, as well as the username and password for accessing the server. The name of the core dump cannot contain any special characters.</p>
                        <div class="form-group row">
                            <label for="file-server" class="col-2 col-form-label">Server</label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="file-server" placeholder="server-bld" spellcheck="false">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="file-path" class="col-2 col-form-label">Path</label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="file-path" placeholder="/path/to/coredump.gz" spellcheck="false">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="file-username" class="col-2 col-form-label">Username</label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="file-username" spellcheck="false">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="file-password" class="col-2 col-form-label">Password</label>
                            <div class="col-10">
                                <input type="password" class="form-control" id="file-password">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="file-button" disabled>Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="expire-modal" tabindex="-1" role="dialog" aria-labelledby="expire-modal-label" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="expire-modal-label">Expired session</h4>
                    </div>
                    <div class="modal-body">
                        <p id="expire-text"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div id="cores">
            </div><div id="analyzer">
                <div id="divider"></div>
                <div class="upload">
                    <div class="form">
                        <label class="file">
                            <input type="file" id="file-input">
                            <span id="file-picker">
                                <div id="file-container">
                                    <div id="progress"></div>
                                    <div id="file-name">
                                        Choose file…
                                    </div>
                                </div>
                                <div class="browse-clickable" id="browse">
                                    Browse
                                </div>
                            </span>
                        </label>
                    </div>
                    <button type="button" class="btn btn-primary" disabled id="upload-button">Upload</button>
                    <div id="downloaded"></div>
                </div>
                 <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="prompt-tab" data-toggle="tab" href="#prompt" role="tab">Prompt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="editor-tab" data-toggle="tab" href="#editor" role="tab">Editor</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="prompt" role="tab-panel">
                        <div class="btn-toolbar" id="prompt-commands" role="toolbar" aria-label="prompt-commands">
                            <div class="btn-group mr-2" role="group" aria-label="report">
                                <button type="button" id="gen-report" class="btn btn-light btn-command" disabled>gen_core_report</button>
                                <button type="button" id="backtrace" class="btn btn-light btn-command" disabled>backtrace</button>
                                <button type="button" id="siginfo" class="btn btn-light btn-command" disabled>siginfo</button>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="report">
                                <button type="button" id="decode" class="btn btn-light btn-command" disabled>decode</button>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="clear">
                                <button type="button" id="clear-output" class="btn btn-light btn-command">clear</button>
                                <button type="button" id="abort-gdb" class="btn btn-light btn-command" disabled>abort</button>
                            </div>
                            <div class="input-group ml-auto">
                                <span class="input-group-addon timeout-label" id="timeout-label">timeout</span>
                                <input type="number" class="form-control" id="timeout" min="1" max="400" step="1" value="1" aria-describedby="timeout-label">
                                <span class="input-group-addon timeout-label">h</span>
                            </div>
                        </div>
                        <div id="command-form">
                            <input type="text" class="form-control" id="command-input" placeholder="Enter command…" spellcheck="false" disabled>
                            <div id="autocomplete">
                            </div>
                        </div>
                        <div class="output">
                            <p id="output-text"></p>
                        </div>
                    </div>
                    <div class="tab-pane" id="editor" role="tab-panel">
                        <div class="btn-toolbar" id="editor-commands" role="toolbar" aria-label="editor-commands">
                            <div class="input-group mr-2">
                                <input type="text" class="form-control" id="command-search" placeholder="Search…" spellcheck="false">
                            </div>
                            <div class="btn-group" role="group" aria-label="editor-commands">
                                <button type="button" id="editor-reset" class="btn btn-light btn-command" disabled>reset</button>
                                <button type="button" id="editor-diff" class="btn btn-light btn-command">show diff</button>
                            </div>
                        </div>
                        <div id="editor-container">
                            <div id="command-list">
                            </div>
                            <div id="editor-program"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/codemirror.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/mode/diff/diff.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/mode/python/python.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/addon/dialog/dialog.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/addon/search/searchcursor.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/addon/search/search.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/addon/search/jump-to-line.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/addon/search/matchesonscrollbar.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/addon/edit/matchbrackets.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/addon/selection/active-line.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/addon/scroll/simplescrollbars.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/addon/scroll/annotatescrollbar.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='autopsy.js') }}"></script>
        <script type="text/javascript">
            /*var command_array = []
            //var input = document.getElementById("command-input");  line that caused me to be unable to upload core file =(
            document.onkeydown = checkKey;
            function checkKey(e) {
                var event = window.event ? window.event : e;
                // <up> to retrieve a past command one at a time
                if (event.keyCode == 38) {
                    alert('up');
                    if (command_array.length == 0) {
                        return;
                    }
                    var idx = command_array.length - 1;
                    document.getElementById("command-input").value = command_array[idx];
                }
                // <enter> to save a command one at a time
                if ((event.keyCode == 13)) {
                    alert('enter');
                    var command = document.getElementById("command-input").value;
                    alert(command);
                    command_array.push(command);
                    alert(command_array);
                }
            };

            function remember_commands() {
                var command = document.getElementById("command-input").value;
                alert(command);
                command_array.push(command);
                alert(command_array);
            };

            function copyKey() {
                var copyText = document.getElementById("copy-input");
                alert(copyText);
                copyText.select();
                document.execCommand("copy");
                alert("Copied");
            };*/

            loadCoredumps({{ coredumps|tojson }});
            loadPython();
            timeout.value = {{ timeout }};  
        </script>
    </body>
</html>
