<!DOCTYPE html>
<html lang="en" id="html-autopsy">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie-edge">
        <title>Autopsy</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='autopsy.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='scalpel.png') }}">
    </head>
    <body id="fixed">
        <nav class="navbar navbar-toggleable-md bg-inverse">
            <p class="navbar-brand">Autopsy</p>
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="help" target="_blank">Help</a>	
            </div>
            <div class="dropdown">
                <div class="nav-item dropdown-toggle" id="change-key" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-key" aria-hidden="true"></i><span id="uuid">{{ uuid }}</span></div>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="change-key">
                        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#previous-modal">Load previous key…</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#load-modal">Load new key…</button>
                        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#generate-modal">Generate new key…</button>
                    </div>
                </div>
            </div>
        </nav>
        <div class="modal fade" id="previous-modal" tabindex="-1" role="dialog" aria-labelledby="previous-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="previous-modal-label">Load previous key</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Up to 15 of your most-recently used keys are shown below. Note that the core dumps listed with a key may have changed since you last accessed the key.</p>
                    </div>
                    <div id="uuids">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="previous-button" disabled>Load</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="load-modal" tabindex="-1" role="dialog" aria-labelledby="load-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="load-modal-label">Load new key</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="load-key">A key must be in valid version 4 <a href="https://en.wikipedia.org/wiki/Universally_unique_identifier" target="_blank">UUID</a> format, including hyphens.</label>
                        <div class="input-group" id="key-group">
                            <span class="input-group-addon" id="key-icon"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="load-key" placeholder="01234567-89ab-cdef-0123-456789abcdef" spellcheck="false" aria-describedby="key-icon">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="load-button" disabled>Load</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="generate-modal" tabindex="-1" role="dialog" aria-labelledby="generate-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="generate-modal-label">Generate new key</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>If you wish to revisit these core files, you can load a previous key.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="generate-button">Generate</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="link-modal" tabindex="-1" role="dialog" aria-labelledby="link-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="link-modal-label">Submit link</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Enter the URL of the core dump to be submitted. You can also choose to supply your CEC username and password if the URL requires authentication.</p>
                        <div class="form-group row" id="url-group">
                            <label for="link-url" class="col-2 col-form-label">URL</label>
                            <div class="col-10">
                                <input type="url" class="form-control" id="link-url">
                            </div>
                        </div>
                        <div class="form-group row" id="username-group">
                            <label for="link-username" class="col-2 col-form-label">Username</label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="link-username">
                            </div>
                        </div>
                        <div class="form-group row" id="password-group">
                            <label for="link-password" class="col-2 col-form-label">Password</label>
                            <div class="col-10">
                                <input type="password" class="form-control" id="link-password">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="link-button" disabled>Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="expire-modal" tabindex="-1" role="dialog" aria-labelledby="expire-modal-label" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="expire-modal-label">Expired session</h4>
                    </div>
                    <div class="modal-body">
                        <p id="expire-text"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div id="cores">
            </div><div id="analyzer">
                <div class="upload">
                    <div class="form">
                        <label class="file">
                            <input type="file" id="file-input">
                            <span id="file-picker">
                                <div id="file-container">
                                    <div id="progress"></div>
                                    <div id="file-name">
                                        Choose file…
                                    </div>
                                </div>
                                <div class="browse-clickable" id="browse">
                                    Browse
                                </div>
                            </span>
                        </label>
                    </div>
                    <button type="button" class="btn btn-primary" disabled id="upload-button">Upload</button>
                    <div id="downloaded">…or <a href="" data-toggle="modal" data-target="#link-modal">submit link</a></div>
                </div>
                <div class="btn-toolbar" id="commands" role="toolbar" aria-label="commands">
                    <div class="btn-group mr-2" role="group" aria-label="report">
                        <button type="button" id="gen-report" class="btn btn-secondary btn-command" disabled>gen_core_report</button>
                        <button type="button" id="backtrace" class="btn btn-secondary btn-command" disabled>backtrace</button>
                        <button type="button" id="siginfo" class="btn btn-secondary btn-command" disabled>siginfo</button>
                    </div>
                    <div class="btn-group" role="group" aria-label="clear">
                        <button type="button" id="clear-output" class="btn btn-secondary btn-command">clear</button>
                        <button type="button" id="abort-gdb" class="btn btn-secondary btn-command" disabled>abort</button>
                    </div>
                </div>
                <div id="command-form">
                    <input type="text" class="form-control" id="command-input" placeholder="Enter command…" spellcheck=false disabled>
                    <div id="autocomplete">
                    </div>
                </div>
                <div class="output">
                    <p id="output-text"></p>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='autopsy.js') }}"></script>
        <script type="text/javascript">
            loadCoredumps({{ coredumps|tojson }});
        </script>
    </body>
</html>
